.grey-card {
    color: rgb(178, 178, 178);
}

.cc {
    line-height: 1.1cm;
}

img {
    border-radius: 15px !important;
    height: auto;
    width: 100%;
}

.second-cards {
    color: rgb(208, 208, 208);
}

.artist-card {
    font-size: 1.1rem;
}

.explicit-badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #A9A9A9;
    color: black;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}